[project]
	description = ?????sql?????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/atemicky (yqfang)
[access "refs/for/refs/*"]
	read = group user/atemicky (yqfang)
	push = group user/atemicky (yqfang)
	label-Code-Review = -2..+2 group user/atemicky (yqfang)
	label-Verified = -1..+1 group user/atemicky (yqfang)
	rebase = group user/atemicky (yqfang)
	removeReviewer = group user/atemicky (yqfang)
	submit = group user/atemicky (yqfang)
[access "refs/heads/*"]
	read = group user/atemicky (yqfang)
	create = group user/atemicky (yqfang)
	push = +force group user/atemicky (yqfang)
	pushMerge = group user/atemicky (yqfang)
[access "refs/tags/*"]
	push = +force group user/atemicky (yqfang)
	pushTag = group user/atemicky (yqfang)
	pushSignedTag = group user/atemicky (yqfang)
